version: "3"
services:
    vault:
      image: {{ vault.image }}:{{ vault.tag }} 
      command: ["vault", "server", "-config", "/vault/config"]
      ports:
        - "8200:8200"
      volumes:
        - {{ vault.dirs.config }}:/vault/config 
        - {{ vault.dirs.storage }}:/vault/file
        - /etc/ssl/private:/mnt/vault/ssl/keys
        - /etc/ssl/certs:/mnt/vault/ssl/keys
      cap_add:
        - IPC_LOCK
