storage "file" {
      path = "/vault/file/data"
}

listener "tcp" {
      address = "0.0.0.0:8200"
      tls_enable = true
      tls_cert_file = "/mnt/vault/ssl/certs/{{ vault.tls.cert }}"
      tls_key_file = "/mnt/vault/ssl/keys/{{ vault.tls.key }}"
}

ui = false
