storage "file" {
      path = "/opt/vault/storage"
}

listener "tcp" {
      address = "0.0.0.0:8200"
      tls_enable = true
      tls_cert_file = "/data/disks/config/certs/live/vault.sami.dog/fullchain.pem"
      tls_key_file = "/data/disks/config/certs/live/vault.sami.dog/privkey.pem"
}

ui = false
api_addr = "https://vault.sami.dog"
